
.store-cards-container {
    display: flex; /* helps to arrng the child elmnt in a row by def */
    justify-content: center;
    flex-wrap: wrap; /* wrap to the nxt line (helps in smaller screens also */
  }
  
  .store-card {
    background: linear-gradient(to right,  #828e8c, #000000);  
    color: white;  /* White text for contrast */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Soft shadow for cards */
    border-radius: 10px;  
    transition: transform 0.2s ease-in-out;   
  }
  
  .store-card:hover {
    transform: scale(1.05);  /* Scale the card on hover */
  }
  
  .store-card .bi {
    font-size: 1.5rem; /*1.5 times the default font size.*/
  }
  
  .store-card .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    
  }
  
  .store-card .card-subtitle {
    font-size: 1rem;
    color: #ffffff; 
  }
  
  .store-card .card-text i {
    font-size: 1rem;
    margin-right: 5px;
  }
  
  .store-card .card-text {
    font-size: 0.9rem;
    line-height: 1.4;
  }
  
  .store-card .card-body {
    padding: 1.5rem;
  }
  